/* @import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap"); */
div.alert * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.alert h3 {
    font-family: Quicksand;
}

div.alert {
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #ccc;
}

div.alert .close {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 25px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

div.alert .simple-alert {
    background-color: #ebebeb;
    border-left: 5px solid #6c6c6c;
}

div.alert .simple-alert .close {
    border-color: #6c6c6c;
    color: #6c6c6c;
}

div.alert .success-alert {
    background-color: #a8f0c6;
    border-left: 5px solid #178344;
}

div.alert .success-alert .close {
    border-color: #178344;
    color: #178344;
}

div.alert .danger-alert {
    background-color: #f7a7a3;
    border-left: 5px solid #8f130c;
}

div.alert .danger-alert .close {
    border-color: #8f130c;
    color: #8f130c;
}

div.alert .warning-alert {
    background-color: #ffd48a;
    border-left: 5px solid #8a5700;
}

div.alert .warning-alert .close {
    border-color: #8a5700;
    color: #8a5700;
}