div#LandingPage {
    background-color: var(--Blanco-KS);
}

div#LandingPage div#contentHeader {
    background-color: var(--Blanco-KS);
    width: 100%;
    height: 4em;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: 1px -4px 5px;
    top: 0;
    gap: 18px;
    justify-content: space-evenly;
}

div#LandingPage h2#titleHeader {
    color: var(--Azul-KS);
    font-size: 26px;
    font-weight: bold;
}

div#LandingPage span#contentIcon {
    width: 50%;
    /* display: flex;
    align-items: center; */
    display: inherit;
    align-items: center;
    justify-content: flex-start;
}

div#LandingPage img#iconoKaionSystem {
    width: 7%;
    margin-right: 0.3em;
}

div#LandingPage span#contentButton {
    display: inherit;
    align-items: center;
    gap: 9px;
}


/* --Negro-KS: #020101;
  --Gris-KS: #484242;
  --Azul-KS: #1F487E;
  --Morado-KS: #55286F;
  --Rojo-KS: #AB1919;
  --Morado-deg-KS: rgb(85, 40, 111, 55%);
  --Azul-deg-KS: rgb(31, 72, 126, 75%);
  --Blanco-KS: #F8FBFF; */
div#LandingPage section#contentDevices {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 4em;
    padding-top: 1em;
}

div#LandingPage div#contentSlogan {
    width: 100%;
    text-align: left;
    padding: 2%;
}

div#LandingPage h2#titleSlogan {

    font-size: 36px;
    color: var(--Azul-KS);
}

div#LandingPage p#text {
    font-size: 16px;
    font-weight: 500;
}

div#LandingPage div#contentImage {
    text-align: center;
    width: 100%;
}

div#LandingPage img#imgDevice {
    width: 50%;
    padding: 2%;
}

div#LandingPage section#contentFeature {
    text-align: center;
}

div#LandingPage div#contentDescription {
    width: 100%;
}

div#LandingPage h3#titleFeature {
    color: var(--Azul-KS);
    font-size: 21px;
}

div#LandingPage h2#subtitleFeature {
    font-weight: 400;
    font-size: 16px;
}

div#LandingPage div.contentFeatures {
    display: flex;
    justify-content: space-around;
}

div#LandingPage div.feature {
    display: flex;
    align-items: center;
    background-color: #EBEBEB;
    border-radius: 11px;
    height: 6em;
    margin-bottom: 1em;
}

div#LandingPage div.feature i {
    font-size: 38px;
    border-radius: 9px;
    padding: 0.1em;
    color: var(--Morado-KS);
    margin-bottom: 0.5em;

}

div#LandingPage span.descriptionFeature {
    text-align: left;
    word-break: break-all;
    padding: 0.5em;
}
div#LandingPage span.descriptionFeature h4{
    color: #55286F;
    margin-bottom: 0;
}
div#LandingPage span.descriptionFeature p{
    margin-top: 0.5em;
}
div#LandingPage div#contentCardsPlans {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div#LandingPage div#contentCardPrice {
    background-color: var(--Morado-deg-KS);
    border-radius: 12px;
    width: 25%;
}


/* div#LandingPage h4#titleCard {}

div#LandingPage p#descriptionCard {} */