section#ResetPassword * {
    margin: 0;
    padding: 0;
}

section#ResetPassword {
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    place-content: center;
    justify-items: center;
}

section#ResetPassword div#iconoKaionSystem {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2em;
    font-weight: bold;
    color: var(--Azul-KS);
    opacity: 0.5;
}

section#ResetPassword div#iconoKaionSystem>img {
    width: 4rem;

}

section#ResetPassword h1 {
    margin-top: 3em;
    margin-bottom: 1em;


    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: var(--Morado-KS);
}

section#ResetPassword h2 {
    margin-top: 1em;
    margin-bottom: 3em;

    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--Azul-KS);
}

section#ResetPassword .borderDegrade {
    background: linear-gradient(var(--Morado-deg-KS), var(--Azul-deg-KS));
    border: 0;
    box-shadow: 0 1px 6px rgba(60, 64, 67, .3);
    padding: 4px;
    width: 80%;
    border-radius: 10px;
}

section#ResetPassword .contentResetPass {
    background-color: rgb(31 72 126 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--Blanco-KS);
    border-radius: 10px;

    padding: 0 4em 4em 4em;
}

section#ResetPassword form {
    width: 60%;
}

section#ResetPassword button {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-right: 1em;

    font-size: 1.3em;
}

section#ResetPassword .contentInput {
    width: 100%;
}

section#ResetPassword .contentInput input {
    width: 100%;
}