div#ConfigurationUser .recentOrders {
    background-color: var(--Blanco-KS);
    box-shadow: 1px 1px 20px #55286f2e;
    border-radius: 5px;
    padding: 1em;

    margin-top: 3em;
}

/* div#ConfigurationUser .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div#ConfigurationUser .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

div#ConfigurationUser .cardHeader h2 {
    font-weight: 600;
} */

div#ConfigurationUser table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

div#ConfigurationUser table thead {
    margin-bottom: 3em;
}

div#ConfigurationUser table thead td {
    font-weight: 600;
}

div#ConfigurationUser .recentOrders table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#ConfigurationUser .recentOrders table tr:last-child {
    border-bottom: none;
}

div#ConfigurationUser .recentOrders table tbody tr:hover {
    background: var(--Azul-KS);
    color: var(--Blanco-KS);
}

div#ConfigurationUser .recentOrders table tr td {
    padding: 9px 5px;

    text-align: -webkit-center;
}

div#ConfigurationUser .recentOrders table tr td i {
    cursor: pointer;
}

div#ConfigurationUser .recentOrders table thead tr,
div#ConfigurationUser .recentOrders table tbody tr {
    text-align: center;
}

/* div#ConfigurationUser .recentOrders table thead tr td:last-child,
div#ConfigurationUser .recentOrders table tbody tr td:last-child {
    text-align: right;
}

div#ConfigurationUser .recentOrders table thead tr td:nth-child(2),
div#ConfigurationUser .recentOrders table tbody tr td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}

div#ConfigurationUser .recentOrders table thead tr td:nth-child(3),
div#ConfigurationUser .recentOrders table tbody tr td:nth-child(3) {
    text-align: center;
} */


div#ConfigurationUser .status {
    position: relative;
    padding: 2px 4px;
    color: var(--Blanco-KS);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

@media (max-width: 480px) {
    div#ConfigurationUser .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    div#ConfigurationUser .recentOrders {
        overflow-x: auto;
    }

    div#ConfigurationUser .recentOrders table {
        width: 600px;
    }
}

div#ConfigurationUser table input {
    font-size: 1em;
    border-radius: 5px;

    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #0000004f;
    width: 50%;

    display: block;
    text-align: center;
    margin-top: 0.5em;
}